<div class="container">
    <div class="row" *ngIf="isAdmin">
        <h3><button [routerLink]="['/uploadAccounts']" class="btn btn-primary">Upload Accounts Files</button></h3>
    </div>
    <div class="row">
        <h3><button [routerLink]="['/balanceStraightforwardView']" class="btn btn-primary">View Straightforward Balance</button></h3>
    </div>
    <div class="row" *ngIf="isAdmin">
        <h3><button [routerLink]="['/accountsReport']" class="btn btn-primary">View Reports</button></h3>
    </div>
    <div class="row">
        <h3><button (click)="logout()" class="btn btn-danger">Logout</button></h3>
    </div>
</div>