<a [routerLink]="['/home']">Go Home</a>
<div class="col col-sm-12">
  <div class="row">
    <form class="form-horizontal col-sm-12" (ngSubmit)="viewReport()" #scenarioForm="ngForm">
      <div class="col col-sm-6">
        <h4>From Date</h4>
        <div class="form-group">
          <label for="month" class="control-label col-sm-12">Select From Month:</label>
          <select class="form-control" name="fromMonth" [(ngModel)]="model.fromMonth">
            <option *ngFor="let month of monthsList" [value]="month.value">{{month.name}}</option>
          </select>
        </div>
        <div class="form-group">
          <label for="year" class="control-label col-sm-12">Select From Year:</label>
          <select class="form-control" name="fromYear" [(ngModel)]="model.fromYear">
            <option *ngFor="let year of yearsList" [value]="year">{{year}}</option>
          </select>
        </div>
      </div>
      <div class="col col-sm-6">
          <h4>To Date</h4>
        <div class="form-group">
          <label for="month" class="control-label col-sm-12">Select To Month:</label>
          <select class="form-control" name="month" [(ngModel)]="model.toMonth">
              <option *ngFor="let month of monthsList" [value]="month.value">{{month.name}}</option>
            </select>
        </div>
        <div class="form-group">
          <label for="year" class="control-label col-sm-12">Select To Year:</label>
          <select class="form-control" name="year" [(ngModel)]="model.toYear">
              <option *ngFor="let year of yearsList" [value]="year">{{year}}</option>
            </select>
        </div>
      </div>
      <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
          <button type="submit" class="btn btn-primary">View Report</button>
        </div>
      </div>
    </form>
  </div>
  <div class="row">
    <div class="col col-sm-12">
      <p-chart type="line" [data]="data"></p-chart>
    </div>
  </div>
</div>