<div class="alert alert-danger" *ngIf="errorMessage.length > 0" name="errorMessage">
    <strong>Error!</strong> {{errorMessage}}
</div>
<div class="alert alert-success" *ngIf="successMessage.length > 0" name="successMessage">
    <strong>Success!</strong> {{successMessage}}
</div>
<router-outlet></router-outlet>