<div class="col-md-8 col-off-set-2">
  <form class="form-horizontal" (ngSubmit)="registerUser()" #registerForm="ngForm">
    <div class="form-group">
      <label class="control-label col-sm-2" for="email">Email:</label>
      <div class="col-sm-10">
        <input type="email" [(ngModel)]="registerModel.email" class="form-control" placeholder="Enter email" name="name" required
          #email="ngModel">
        <div class="error-container" *ngIf="!(email.valid || email.pristine)">
          Email is required.
        </div>
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-sm-2" for="pwd">Password:</label>
      <div class="col-sm-10">
        <input type="password" [(ngModel)]="registerModel.password" class="form-control" placeholder="Enter password" name="password"
          required #password="ngModel">
        <div class="error-container" *ngIf="!(password.valid || password.pristine)">
          Password is required.
        </div>
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-sm-4" for="pwd">Confirm Password:</label>
      <div class="col-sm-10">
        <input type="password" [(ngModel)]="registerModel.confirmPassword" class="form-control" placeholder="Enter confirm password"
          name="confirmPassword" required #confirmPassword="ngModel">
        <div class="error-container" *ngIf="!(confirmPassword.valid || confirmPassword.pristine)">
          Password is required.
        </div>
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-sm-4" for="pwd">Role:</label>
      <select [(ngModel)]="registerModel.role" name="role" class="form-control col-sm-10">
        <option value="Admin">Admin</option>
        <option value="User">User</option>
      </select>
    </div>
    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
        <button type="submit" class="btn btn-primary" name="submitBtn" [disabled]="!registerForm.valid">Submit</button>
      </div>
    </div>
  </form>
  <a [routerLink]="['/login']">Login</a>
</div>
<div class="alert alert-info">
  <strong>Info!</strong> Registering as an Admin feature is available in order to test this system easily.
</div>