<a [routerLink]="['/home']">Go Home</a>
<div class="col col-sm-12">
    <div class="row">
        <form class="form-horizontal col-sm-12" (ngSubmit)="uploadAccountsFile()" #accountForm="ngForm">
            <div class="form-group">
                <label for="month" class="control-label col-sm-2">Select Month:</label>
                <select class="form-control" name="month" [(ngModel)]="model.month">
                    <option *ngFor="let month of monthsList" [value]="month.value">{{month.name}}</option>
                </select>
            </div>
            <div class="form-group">
                <label for="year" class="control-label col-sm-2">Select Year:</label>
                <select class="form-control" name="year" [(ngModel)]="model.year">
                    <option *ngFor="let year of yearsList" [value]="year">{{year}}</option>
                </select>
            </div>
            <div class="form-group">
                <label for="year" class="control-label col-sm-2">Account File:</label>
                <input type="file" (change)="fileChange($event)" placeholder="Upload file" required />
            </div>
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <button type="submit" class="btn btn-primary" [disabled]="!isFileSelected">Save</button>
                </div>
            </div>
        </form>
    </div>
</div>
<div class="alert alert-info">
    <strong>Info!</strong> This upload will over write previous values if there are any.
</div>